* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

.nav-cont {
  background-color: #F2E9D8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 102px;
  text-align: center;
}

.logo {
  width: 130px;
  height: 40px;
}

.nav-cont ul {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  width: 20%;
  height: 20px;
  color: #000000 ;
} 

.nav-btn {
  margin-left: 30px;
  text-align: center;
}
